@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #120E17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b080e;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: #120E17;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
